
#board {
  margin-top: 1rem;
  background-color: lightgrey;
  border: 1px solid black;
  /* height: 600px;
  width: 600px; */
  margin-bottom: 30px;
}

.cellRow {
  display: flex;
}

.cell {
  background-color: lightgrey;
  /* Border to remove */
  /* border: 1px solid black; */
  width: 1vw;
  padding-bottom: 1vw;
  justify-content: center;
  align-items: center;
  /* font-size: smaller; */
}
.cellCurrent {
  background-color: #f0f;
}
.basin {
  color: red;
  background-color: blue;
}